<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="https://cdn.bootcss.com/Swiper/4.1.0/css/swiper.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/layer/3.1.0/theme/default/layer.css" rel="stylesheet">
    <link href="/static/index/index/style.css" rel="stylesheet">
    <title>VV伴侣</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">VV伴侣</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">腾讯视频</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">芒果TV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">爱奇艺</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">优酷视频</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section>
    <iframe src="https://v.qq.com/" width="100%" height="666px" frameborder="0"></iframe>
</section>
<footer>

</footer>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/Swiper/4.1.0/js/swiper.min.js"></script>-->
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/static/index/common/js/common.js"></script>
<script src="/static/index/index/index.js"></script>
</body>
</html>