{extend name="../application/common/view/template/base.html" /}
{block name="button"}
<a href="{:url('edit')}">
    <button class="btn btn-success">编辑</button>
</a>&nbsp;&nbsp;&nbsp;&nbsp;
{/block}
{block name="main"}
<div class="col-sm-12">
    <aside class="profile-info col-lg-10">
        <section class="panel">
            <div class="panel-body bio-graph-info">
                <h1> app版本管理</h1>
                <form class="form-horizontal" role="form" method="post" id="form_create">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">android版本</label>
                        <div class="col-lg-8">
                            <span>{$list[0]['version']}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">下载地址</label>
                        <div class="col-lg-8">
                            <span>{$list[0]['download_link']}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">ios版本</label>
                        <div class="col-lg-8">
                            <span>{$list[1]['version']}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">ios下载地址</label>
                        <div class="col-lg-8">
                            <span>{$list[1]['download_link']}</span>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </aside>
</div>
{/block}